<header>
  <nav>
    <ul class="nav-links">
      <!-- PROJECTS BUTTON -->
      <li>
        <button
        class="menu-button"
        mat-button
        [matMenuTriggerFor]="projects"
        disableRipple="true"
      >
        PROJECTS
      </button>
      <!-- PROJECTS ITEMS -->
      <mat-menu class="menu" #projects="matMenu">
        <button class="menu-item" mat-menu-item disableRipple="true">
          <fa-icon [icon]="faAngular" size="lg"></fa-icon>
          ANGULAR 10
        </button>

        <button class="menu-item" mat-menu-item disableRipple="true">
          <fa-icon [icon]="faJava" size="lg"></fa-icon>
          SPRING BOOT
        </button>
      </mat-menu>
      </li>
      <!-- ABOUT BUTTON -->
      <li>
        <button class="menu-button" mat-button ripple disableRipple="true">ABOUT</button>
      </li>
      <!-- CONTACT BUTTON -->
      <li>
        <button class="menu-button" mat-button ripple disableRipple="true">CONTACT ME</button>
      </li>
    </ul>
    <ul class="nav-social">
      <!-- LINKED IN -->
      <li style="margin-top: '-0.3rem'">
        <button class="menu-button" mat-button disableRipple="true">
          <a (click)="openLink('www.linkedin.com/in/perri-love')">
            <fa-icon
              [icon]="faLinkedin"
              [styles]="{ color: '#2b6777'}"
              size="lg"
              fa-border
            >
            </fa-icon>
          </a>
        </button>
      </li>
      <!-- INSTAGRAM -->
      <li>
        <button class="socials" mat-button disableRipple="true">
          <a (click)="openLink('www.instagram.com/perrialove/')">
            <fa-icon
              [icon]="faInstagram"
              [styles]="{ color: '#2b6777' }"
              size="2x"
            ></fa-icon>
          </a>
        </button>
      </li>
      <!-- GITHUB -->
      <li>
        <button class="socials" mat-button disableRipple="true">
          <a (click)="openLink('github.com/PerriLove1188')">
            <fa-icon
              [icon]="faGithub"
              [styles]="{ color: '#2b6777' }"
              size="2x"
            ></fa-icon>
          </a>
        </button>
      </li>
    </ul>
  </nav>
</header>
