.menu-button {
  font-size: 25px;
  color: #2b6777;
  opacity: 0.9;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  display: inline-block;
  /* position: relative; */
}

.menu-button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2b6777;;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menu-button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-item {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bolder;
}

.socials:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2b6777;;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.socials:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links, .nav-social {
  display: flex;
  width: 30rem;
}

.nav-social {
  margin-right: -12rem;
}

.nav-links, .nav-social li {
  list-style: none;
  font-size: 10px;
}
