.intro-container {
  display: inline-flex;
  padding: 6rem;
  height: 30vh;
  margin-left: 5rem;
  margin-top: 5rem;
}

.intro-child {
  flex: 1;
}

.intro-child:first-child {
  height: 50vh;
}

.intro-child:nth-child(2) {
  text-align: center;
  height: 60vh;
  opacity: 1;
  margin-top: -10em;
}

.intro-container .title {
  font-size: 6em;
  color: #D49888;
  font-family: 'Whisper', cursive;
  letter-spacing: .2rem;
  line-height: 4rem;
  margin-top: 1rem;
  transition: all .2s ease-in-out;
  text-align: left;
}
.intro-container .subtitle {
  display: block;
}

.intro-container .short-bio {
  margin-right: 2em;
  color: #2b6777;
  font-size: 1.5em;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.personal-photo-container {

}

.personal-photo-container .photo {
  width: 450px;
  height: 450px;
  border-radius: 25px;
  z-index: 1000;
  padding: 10px;
}

.square {
  display: inline;
  opacity: 1;
  transform: scale3d(.8, .8, .8);
  width: 135px;
  height: 135px;
  border-radius: 25px;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.square:nth-child(2){
  bottom: 54em;
  right: 47em;
  background: linear-gradient(252deg, rgba(82,171,152,1) 59%, rgba(200,216,228,1) 100%);

}
.square:nth-child(3) {
  bottom: 34em;
  left: 26em;
  background: linear-gradient(132deg, rgba(238,174,202,1) 0%, rgba(212,152,136,1) 100%);
}
.personal-photo-container .square:nth-child(4) {
  right: 14.5em;
  bottom: 9em;
  background: linear-gradient(126deg, rgba(173,84,103,1) 32%, rgba(242,242,242,1) 100%);;
}
.personal-photo-container .square:nth-child(5) {
  right: 56.5em;
  bottom: 9em;
  background: linear-gradient(126deg, rgba(64,169,197,1) 45%, rgba(242,242,242,1) 100%);
}
.personal-photo-container .square:nth-child(6) {
  right: 52em;
  bottom: 32em;
  height: 180px;
  width: 180px;
  z-index: 1;
  background: linear-gradient(126deg, rgba(237,165,180,1) 57%, rgba(182,99,77,1) 84%);
}

