<div class="intro-container">
  <section class="intro-child about">
    <h1 class="title">
      Hi. I'm Perri.
      <span class="subtitle">a full stack developer.</span>
    </h1>
    <p class="short-bio">
      I'm a web application developer with experience in Angular/React and
      Java/SpringBoot and certifications in Cloud Infrastructure.
    </p>
  </section>
  <div class="intro-child photo">
    <div class="personal-photo-container">
      <img
        class="photo"
        src="../../../assets/HorseshoeCanyonSolo.jpg"
        alt="PerriLoveHoreshoeCanyon"
      />
    </div>
    <div class="square tl"></div>
    <div class="square tr"></div>
    <div class="square br"></div>
    <div class="square bl"></div>
    <div class="square ml"></div>
  </div>
</div>
